In [1]:
print("hello worls")

hello worls

In [2]:
print(123)

123

In [4]:
age=25
print("My age is:",age)

My age is: 25

In [5]:
print("My age is: {age}")

My age is: {age}

In [6]:
# f means(f string):
print(f"My age is: {age}")

My age is: 25

In [7]:
# format()
name="Abhi"
age=25
print("My name is {} and age is {}".format(name,age))

My name is Abhi and age is 25

In [8]:
#placeholder:
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Abhi and age is 25

In [9]:
name="ALOK"
age=24
degree="MCA"
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 24 and i have completed: my degree of MCA with the name of ALOK

In [12]:
print("My age is {firstage} and i have completed: my degree of {firstdegree} wiht the name of{firstname}".format(firstage=age,firstdegree=degree,firstname=name))

My age is 24 and i have completed: my degree of MCA wiht the name ofALOK

In [13]:
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 24 and i have completed: my degree of MCA with the name of ALOK

# Control Flow:
## Decision Making Statements

In [14]:
## If Statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [16]:
age=17
if age<18:
    print("You are eligible to vote")

You are eligible to vote

In [17]:
input()

abhi

'abhi'

In [18]:
name=input("Enter the name ")

Enter the name abhi

In [19]:
name

'abhi'

In [20]:
age=int(input("enter your age:"))

enter your age:25

In [21]:
type(age)

int

In [22]:
#Task-1
##take a input of age
##check whether age>=18 and age<=45
##display a message you are young blood

In [29]:
age=int(input("Enter your age:"))
if age>=18 and age<=45:
    print("You are young blood")

Enter your age:25
You are young blood

In [30]:
## If else satetement
age=int(input("Enter your age:"))
if age>=18 and age<=45:
    print("You are young blood")
else:
    print("You are not young blood")

Enter your age:17
You are not young blood

In [31]:
##Task2
##mall-input product price
##product >1000 rs you get 20% off
##print the product price after removing the discount
##product <1000 rs you get 30% off
##print the product price after removing the discount

In [4]:
product_price=int(input("Enter the price of product:"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is: {}".format(product_price*0.7))

Enter the price of product:1000
The price of the product is: 700.0

In [7]:
## This is in the f-string fromat:
product_price=int(input("Enter the price of product:"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print("The price of the product is{}".format(product_price*0.7))

Enter the price of product:100
The price of the product is70.0

In [13]:
## If elif statements:

##Task3:-
##mall-input product price
##product >3000 rs you get 20% off
##print the product price after removing the discount
##product >=2000 rs and<=3000 you get 30% off
##print the product price after removing the discount
##product <=1000 rs and <=2000 you get 40% off
##print the product price after removing the discount

In [10]:
product_price=int(input("Enter the price of product:"))
if product_price>3000:
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
     print(f"The price of the product is {product_price*0.7}")
else:
    print("The price of the product is{}".format(product_price*0.6))

Enter the price of product:800
The price of the product is480.0

In [12]:
product_price=int(input("Enter the price of product:"))
if product_price>3000:
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
     print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price of the product is{product_price*0.6}")
else:
    print("Lets drink tea")

Enter the price of product:55
Lets drink tea

In [14]:
## Nested if statement:

## Task4:-
## mall-input product price
## product >3000 rs you get 20% off
## print the product price after removing the discount
## product >=2000 rs and<=3000 you get 30% off
## print the product price after removing the discount
## price ==2999 you will get aditional gift
## product <=1000 rs and <=2000 you get 40% off
## print the product price after removing the discount

In [15]:
product_price=int(input("Enter the price of product:"))
if product_price>3000:
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulation you get an aditional gift:")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price of the product is{product_price*0.6}")
else:
    print("Lets drink tea")

Enter the price of product:2999
Congratulation you get an aditional gift:
The price of the product is 2099.2999999999997

In [16]:
## Task5:-
## mall-input product price
## product >3000 rs you get 20% off
## price is ==4000 you get a trip of goa
## print the product price after removing the discount
## product >=2000 rs and<=3000 you get 30% off
## print the product price after removing the discount
## price ==2999 you will get aditional gift
## product <=1000 rs and <=2000 you get 40% off
## print the product price after removing the discount

In [17]:
product_price=int(input("Enter the price of product:"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you got a trip of goa")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulation you get an aditional gift:")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
    print(f"The price of the product is{product_price*0.6}")
else:
    print("Lets drink tea")

Enter the price of product:4000
Congratulations you got a trip of goa
The price of the product is 3200.0

In [18]:
## Singal statement:

In [22]:
val=int(input("Enter a number:"))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter a number:1000
Go Home

## Loops Statement:
### 1.while loop
### 2.for loop
### 3.nested loops
### 4.Loop control(break,continue,pass)

In [1]:
## while loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [2]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

## For loop

In [5]:
lst=["Abhi",1,2,3,4,"apple","banana"]

In [6]:
type(lst)

list

In [7]:
lst[0]

'Abhi'

In [8]:
for x in lst:
    print(x)

Abhi
1
2
3
4
apple
banana

In [9]:
fruits_list=["Mango","Cherry","Apple","Banana","Papaya"]

In [10]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("the friut is Cherry")

Mango
Cherry
the friut is Cherry
Apple
Banana
Papaya

In [11]:
fruit='Mango'
for x in fruit:
    print(x)

M
a
n
g
o

In [12]:
fruit[1]

'a'

In [13]:
fruit='Mango'
for x in fruit:
    print(x,end='')

Mango

In [15]:
### Range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [18]:
### Nested Loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

### Assignment :
#### To print Equilateral triangle(Pyramid)star pattern?

In [20]:
n=5
for i in range(n):
    for j in range(n-i-1):
        print(' ',end=' ')
    for k in range(2*i+1):
        print("*",end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [21]:
## Loop controls
## Break and Continue and Pass
fruit_list = ["Mango","Cherry","Apple","Banana","Papaya"]

In [23]:
## Break
for i in fruit_list:
    if i=="Apple":
        print("The fruit is Apple")
        break
    print(i)

Mango
Cherry
The fruit is Apple

In [24]:
## Pass
for i in fruit_list:
    if i=="Apple":
        print("The fruit is Apple")
        pass
    print(i)

Mango
Cherry
The fruit is Apple
Apple
Banana
Papaya

In [25]:
## Continue
for i in fruit_list:
    if i=="Apple":
        print("The fruit is Apple")
        continue
    print(i)

Mango
Cherry
The fruit is Apple
Banana
Papaya

## Logical Operators
###### 1.and
###### 2.or
###### 3.not

In [1]:
True and True

True

In [12]:
## lets define two variables having boolean values True and False:
START = True
STOP = False

# Print the value as it is
print(f"Defined value of START = {START}")
print(f"Define value of STOP = {STOP}\n")

# if can aslo be written as-
print(f"Defined value of START = {START}")
print(f"Value of STOP by negation START = {not START}\n")

# alternatively -
print(f"Value of START by negation STOP = {not STOP}")
print(f"Defined value of STOP = {STOP}\n")

Defined value of START = True
Define value of STOP = False

Defined value of START = True
Value of STOP by negation START = False

Value of START by negation STOP = True
Defined value of STOP = False

In [3]:
not True

False

In [4]:
not int(bool(0))

True

In [5]:
bool(1)

True

In [6]:
not int(bool(1))

False

In [7]:
not 1

False

In [8]:
not 0

True

In [13]:
START = 1
STOP = 0

# Print the value as it is
print(f"Defined value of START = {START}")
print(f"Define value of STOP = {STOP}\n")

# if can aslo be written as-
print(f"Defined value of START = {START}")
print(f"Value of STOP by negation START = {int(not START)}\n")

# alternatively -
print(f"Value of START by negation STOP = {int(not STOP)}")
print(f"Defined value of STOP = {STOP}\n")

Defined value of START = 1
Define value of STOP = 0

Defined value of START = 1
Value of STOP by negation START = 0

Value of START by negation STOP = 1
Defined value of STOP = 0

In [14]:
Zero = 0
One = 1

print(f"boolean value of no. {Zero} is {bool(Zero)}")
print(f"bolean value of no. {One} is {bool(One)}")
print(f"negation of {Zero} is {not Zero} and negation of {One} is {not One}")
print("\n#-----------------#\n")

boolean value of no. 0 is False
bolean value of no. 1 is True
negation of 0 is True and negation of 1 is False

#-----------------#

In [16]:
some_negative_integer = -5
some_positive_integer = 5

print(f"boolean value of no. {some_negative_integer} is {bool(some_negative_integer)}")
print(f"boolean value of no. {some_positive_integer} is {bool(some_positive_integer)}")
print(f"negation of {some_negative_integer} is {not some_negative_integer}\
 and negation of {some_positive_integer} is {not some_positive_integer}")

print("\n#$*--------------#$*\n")

boolean value of no. -5 is True
boolean value of no. 5 is True
negation of -5 is False and negation of 5 is False

#$*--------------#$*

### Logical And

In [17]:
VEGETABLES = True
SALT = False
DISH = VEGETABLES and SALT

print(f"Dish contains VEGETABLES: {VEGETABLES}")
print(f"Dish contains SALT: {SALT}")
print(f"Hence dish prepared was good: {DISH}")

Dish contains VEGETABLES: True
Dish contains SALT: False
Hence dish prepared was good: False

In [18]:
True*False

0

In [19]:
not(True)*False

True

In [21]:
False * (not(False))

0

In [22]:
(not(True))*False

0

In [23]:
False * False

0

In [24]:
not(False)*False

True

In [25]:
(not (False))*False

0

In [26]:
not (False)*False==True

True

In [27]:
print(not(False)*False)

True

In [28]:
print((not(False))*False)

0

### Equality Operators


Following operation are present in python for equlity operation-

|Operators|Meaning|
|-|-|
|**is**|***a is b*** returns true if variable/identifiers a and b *points* to the *same object*|
|**is not**|***a is not b*** returns true if variable/identifiers a and b *points* to the *different object*|
|**==**|***a == b*** returns true if variable/identifiers a and b has same value|
|**!=**|***a != b*** returns true if variable/identifiers a and b has different value|

In [29]:
### is ###
lst_a=[1,2,3,4]
lst_b=[1,2,3,4]

In [31]:
# To check memory adderess we use **id()**:
print(id(lst_a))
print(id(lst_b))

1535600063744
1535600013632

In [32]:
lst_a is lst_b

False

In [33]:
lst_a=[1,2,3,4]
lst_b=lst_a

In [34]:
print(id(lst_a))
print(id(lst_b))

1535628319040
1535628319040

In [35]:
lst_a is lst_b

True

In [37]:
### is not ####
lst_a=[1,2,3,4]
lst_b=[1,2,3,4]

lst_a is not lst_b

True

In [38]:
lst_a == lst_b

True

In [39]:
## Comparison operation

In [41]:
# opertaion                 #meaning
##   <                       less then
##   <=                      less then or equal to
##   >                       greater than
##   >=                      greater than or equal to

In [43]:
max_speed_of_bike = 150
max_speed_of_car = 200

print(f"bike is faster then car: {max_speed_of_bike > max_speed_of_car}")

bike is faster then car: False

In [44]:
max_speed_of_bike = 150
max_speed_of_car = 200

print(f"bike is faster then car: {max_speed_of_bike < max_speed_of_car}")

bike is faster then car: True

In [45]:
max_speed_of_bike = 200
max_speed_of_car = 200

print(f"bike is faster then car: {max_speed_of_bike >= max_speed_of_car}")

bike is faster then car: True

In [46]:
max_speed_of_bike = 150
max_speed_of_car = 200

print(f"bike is faster then car: {max_speed_of_bike <= max_speed_of_car}")

bike is faster then car: True

#### Arithmethic OPeration
|Operation|Meaning|
|:-:|:-:|
| **+**|addition|
| **-**|subtraction|
| **\**|multiplication|
|**/**|true division|
|**//**|integer division|
|**%**|the modulo operator|

In [47]:
a=25 
b=101

In [48]:
a+b

126

In [49]:
a-b

-76

In [53]:
a/b

0.24752475247524752

In [54]:
a//b

0

In [55]:
a%b

25

In [56]:
b%a

1

### Bitwise Operation

|Operation|Meaning|
|:-:|:-:|
| **~** |bitwise complement (prefix unary operator)|
| **&** |bitwise and|
| **\|** |bitwise or|
| **^** |bitwise exclusive-or|
| **<<** |shift bits left,filling in with zero|
| **>>** |shift bits right,filling in with sign bit|

In [1]:
var=10
bin(var)

'0b1010'

In [3]:
~var

-11