### LIST(iterable=(), /)
***/Bulit-in mutable sequence ***/

***/If no argument is given,the constructor creates a new empty list ***/

***/The argument must be an iterable if specified ***/

In [3]:
## How we define a list?
[]

[]

In [4]:
type([])

list

In [5]:
["Abhishek","Tripathi","Pwskills",25]

['Abhishek', 'Tripathi', 'Pwskills', 25]

In [6]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [13]:
str1=("Abhishek")
print(str1)

Abhishek

In [14]:
list(str1)

['A', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [15]:
str1="Pw skills Data science masters"

In [18]:
list(str1)

['P',
 'w',
 ' ',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'm',
 'a',
 's',
 't',
 'e',
 'r',
 's']

In [19]:
list(str1.split(" "))

['Pw', 'skills', 'Data', 'science', 'masters']

In [20]:
str1.split(" ")

['Pw', 'skills', 'Data', 'science', 'masters']

In [21]:
lst1=str1.split(" ")

In [22]:
lst1

['Pw', 'skills', 'Data', 'science', 'masters']

In [23]:
lst1[1]

'skills'

In [24]:
lst1[1:]

['skills', 'Data', 'science', 'masters']

In [32]:
lst1[2]="Datas"

In [33]:
lst1

['Pw', 'skills', 'Datas', 'science', 'masters']

In [34]:
lst1[-2]

'science'

In [35]:
lst1[::-2]

['masters', 'Datas', 'Pw']

In [38]:
lst1[-4::-2]

['skills']

In [39]:
lst1[-5::-2]

['Pw']

In [41]:
lst1[-5:-3:-2]

[]

In [42]:
lst1

['Pw', 'skills', 'Datas', 'science', 'masters']

In [43]:
## Concatenation Operation

In [44]:
lst1 + 1

TypeError: can only concatenate list (not "int") to list

In [45]:
lst1 + ["new element",3]

['Pw', 'skills', 'Datas', 'science', 'masters', 'new element', 3]

In [47]:
## list in another list
lst2=lst1 + [["new element",3]]

In [48]:
lst2

['Pw', 'skills', 'Datas', 'science', 'masters', ['new element', 3]]

In [49]:
lst2[-1]

['new element', 3]

In [50]:
lst2[-1][0]

'new element'

In [52]:
## this process is known as "not in-place order".
lst1 * 2

['Pw',
 'skills',
 'Datas',
 'science',
 'masters',
 'Pw',
 'skills',
 'Datas',
 'science',
 'masters']

In [54]:
## check wether science is in a list or not:
lst1

['Pw', 'skills', 'Datas', 'science', 'masters']

In [60]:
for element in lst1:
    print(element)
    if "science" in lst1:
        print("yes")

Pw
yes
skills
yes
Datas
yes
science
yes
masters
yes

In [61]:
if "science" in lst1:
        print("yes")

yes

In [62]:
for elements in lst1:
    if elements=="science":
        print(elements)
        break

science

In [63]:
## check elements inside a list
lst=[1,2,3,4]
4 in lst

True

In [64]:
5 in lst

False

In [65]:
lst1=["Zebra","Monkey","Donkey","Lion"]
lst2=[5,6,2,9,5,8,6]

In [66]:
## it gives the output on the basis of ascii value:(z=90)
print(max(lst1))

Zebra

In [67]:
max(lst2)

9

In [68]:
min(lst1)

'Donkey'

In [69]:
min(lst2)

2

In [71]:
## this is a question is putup form my batchmate:
lst3=[5,6,2,9,5,8,6]
type(lst3[0])

int

In [72]:
type(5.0)

float

In [73]:
5.0 in lst3

True

In [74]:
5==5.0

True

In [70]:
## Append: Append is an implace opertions:

In [85]:
lst=[1,2,3,4,5,6]

In [86]:
lst

[1, 2, 3, 4, 5, 6]

In [87]:
lst.append("Pwskills")

In [88]:
lst

[1, 2, 3, 4, 5, 6, 'Pwskills']

In [89]:
lst.append(["Data","Science","Masters"])

In [90]:
## This will give multinested list:
lst

[1, 2, 3, 4, 5, 6, 'Pwskills', ['Data', 'Science', 'Masters']]

In [112]:
lst.extend(["Pw","Skills"])
lst

[1, 2, 3, 4, 5, 6, 'Pwskills', ['Data', 'Science', 'Masters'], 'Pw', 'Skills']

In [91]:
lst1=["Zebra","Monkey","Donkey","Lion"]

In [92]:
lst1

['Zebra', 'Monkey', 'Donkey', 'Lion']

In [95]:
## l.pop() means Remove and return item at index(default last):
lst1.pop()

'Lion'

In [96]:
lst1

['Zebra', 'Monkey', 'Donkey']

In [97]:
lst1.pop(1)

'Monkey'

In [98]:
lst1

['Zebra', 'Donkey']

In [99]:
lst1=["Zebra","Monkey","Donkey","Lion"]

In [100]:
removed_element=lst1.pop(0)
removed_element

'Zebra'

In [101]:
lst1

['Monkey', 'Donkey', 'Lion']

In [103]:
lst1[100]

IndexError: list index out of range

In [ ]:
## Sorting and Reverse method in list:

In [104]:
new_list=['q','e','f','s','t','u']
new_list

['q', 'e', 'f', 's', 't', 'u']

In [105]:
new_list[::-1]

['u', 't', 's', 'f', 'e', 'q']

In [106]:
new_list.reverse()

In [107]:
new_list

['u', 't', 's', 'f', 'e', 'q']

In [108]:
new_list.sort()

In [109]:
new_list

['e', 'f', 'q', 's', 't', 'u']

### Nsted List

In [113]:
## Let make three lists:
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]

#Make a list of list to formm a matrix
matrix = [lst1,lst2,lst3]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [114]:
matrix[0]

[1, 2, 3]

In [115]:
matrix[1][2]

6

In [118]:
matrix[2][1:]

[8, 9]

In [122]:
## List Comprehension
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [123]:
## Even Number
[i if i%2==0 else "ODD" for i in range(20)]

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [124]:
[i if i%2==0 else "" for i in range(20)]

[0, '', 2, '', 4, '', 6, '', 8, '', 10, '', 12, '', 14, '', 16, '', 18, '']

In [125]:
#EXAMPLE NO.1
# let this is my list 
# itterate to this list for submission of even number at one variable and 
# submission of ood number at one variables?

In [129]:
lst=[1,2,3,4,5,6,7,8]

even_sum = 0
odd_sum = 0
for i in lst:
    if i%2==0:
        even_sum +=i
    else:
        odd_sum +=i
print(even_sum)
print(odd_sum)

20
16

In [132]:
[num for num in lst]

[1, 2, 3, 4, 5, 6, 7, 8]

In [133]:
[num for num in lst if num%2==0]

[2, 4, 6, 8]

In [137]:
even_sum=sum([num for num in lst if num%2==0])

In [138]:
odd_sum=sum([num for num in lst if num%2!=0])

In [139]:
even_sum

20

In [140]:
odd_sum

16

In [141]:
#EXAMPLE NO.2
## find the squre of all number given in the list:

In [142]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [143]:
[num ** 2 for num in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [144]:
# EXAMPLE NO.3
##Create a list of only the positive numbers from a given list:

In [145]:
numbers = [-2,-1,0,1,2,3,4]

In [146]:
[num for num in numbers if num >0]

[1, 2, 3, 4]

In [147]:
# EXAMPLE NO.4
#Create a list of only the first Letters of in a list

In [148]:
words = ["apple","banana","cherry","date"]

In [150]:
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [153]:
#EXAPMLE NO.5
# CONVERT A LIST of temperatures from celsius to fahrenheit using list comprehesnion
## and formula is this (9/5*temp+32)

In [154]:
celsius_temperatures = [0,10,20,30,40,50]

In [156]:
[(9/5)*temp + 32 for temp in celsius_temperatures]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [157]:
#EXAMPLE NO.6
## Flatten a list of list into a single list

In [158]:
lists = [[1,2,3],[4,5,6],[7,8,9]]

In [161]:
[i for j in lists for i in j]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [162]:
[num for sublist in lists for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Assignment

In [163]:
## using both code and list comprehensnion
##-1-Create a list of only prime numbers from a given list

In [29]:
numbers=[1,2,3,4,5,6,7,8,9,10]
empty_list=[]
for i in numbers:
    if i==0 or i==1:
        continue
    for j in range(2,i//2+1):
        if i%j==0:
            break
    else:
        empty_list.append(i)
print(empty_list)

[2, 3, 5, 7]

In [34]:
#using list comprehensnion:
[i for i in range(2,10) if 0 not in[i%n for n in range(2,i)]]

[2, 3, 5, 7]

In [36]:
##-2-Create a list of all the possible combination of 2 elements from a 
##   list?

In [5]:
numbers=[1,2,3,4,5]
lst=[]
for i in range(0,len(numbers)):
    for j in range(0,len(numbers)):
        if i!=j:
            lst.append((numbers[i],numbers[j]))
print(lst)

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 4), (3, 5), (4, 1), (4, 2), (4, 3), (4, 5), (5, 1), (5, 2), (5, 3), (5, 4)]

In [6]:
numbers=[1,2,3,4,5]
lst=[]
for i in range(0,len(numbers)):
    for j in range(0,len(numbers)):
        if (i+j) in numbers:
            lst.append((numbers[i],numbers[j]))
print(lst)

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 3), (3, 4), (4, 1), (4, 2), (4, 3), (5, 1), (5, 2)]

In [3]:
## using list comprehensnion
numbers=[1,2,3,4,5]
[(x , y) for x in numbers for y in numbers]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5)]